.dashboard-container {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 0.5fr 1fr 2fr;
    color: white;
    width: 100vw;
    height: 100vh;
}

.dashboard-menu {
    background-color: #241c69;
    grid-column: 1/2;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-top-right-radius: 25px;
}

.dashboard-menu h2 {
    padding-left: 15px;
    font-family: "Rubrik", sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.dashboard-menu li {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    padding-left: 22px;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    margin-bottom: 30px;
}

.dashboard-menu li:hover {
    transform: translateX(10px);
    border-left: 4px solid white;
}

.dashboard-menu header {
    margin-bottom: 30px;
}

.add-new-poll {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 8px 40px;
    margin-bottom: 40px;
    margin-top: 50px;
    border-radius: 45px;
    border: none;
    background-color: white;
    color: #241c69;
    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: all 0.3s ease 0s;
}

.add-new-poll:hover {
    background-color: #f83b4f;
    box-shadow: 0px 12px 20px #f83b4e62;
    color: #fff;
    transform: translateY(-10px);
}

.add-new-poll div {
    padding: 10px 10px 10px 6px;
}

.questions-list {
    grid-column: 2/3;
    list-style-type: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(247, 248, 251);
    width: fit-content;
    margin-top: 40px;
    padding: 5px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    flex-wrap: nowrap;
}

@keyframes example {
    0% {
        right: -100%;
    }
    100% {
        right: 0%;
    }
}

.poll-vote {
    grid-template-columns: 3/4;
    color: black;
    transition: all 0.6s ease 0s;
    position: relative;
    animation-name: example;
    animation-duration: 1.2s;
}

.icon {
    color: white;
    font-size: 25px;
    position: relative;
    bottom: -135px;
    right: -65%;
    cursor: pointer;
}