.dashboard-container {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;


}

.dashboard-menu {
    grid-column: 1/2;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;

}


.dashboard-menu li {
    color: #241c69;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 22px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

}

.dashboard-menu li:hover {
    transform: translateX(10px);


}

.add-new-poll {
    font-family: 'Roboto', sans-serif;

    font-weight: 500;
    font-size: 12px;

    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    width: max-content;
    padding: 8px 20px;
    margin-bottom: 30px;

    border-radius: 45px;

    border: none;
    color: #241c69;

    cursor: pointer;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: all 0.3s ease 0s;

}

.add-new-poll:hover {
    background-color: #F83B4F;
    box-shadow: 0px 12px 20px #f83b4e62;
    color: #fff;
    transform: translateY(-7px);
}

.add-new-poll div {
    padding: 10px 10px 10px 6px;
}

.questions-list {

    grid-column: 2/3;

    list-style-type: none;
    border-radius: 20px;
    background-color: rgb(247, 248, 251);

    width: fit-content;
    margin-left: 30px;
    padding: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    flex-wrap: nowrap;
}