.poll-voting-container {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    height: fit-content;
    transition: all 0.3s ease 0s;
    margin-top: 65px;
    padding: 10px 100px;
    padding-left: 80px;
    padding-bottom: 30px;
    background-color: #251c69;
    color: white;
    width: 75%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    position: absolute;
    z-index: -1;
}

.poll-voting-container h2 {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 30px;
    letter-spacing: 1.2px;
    padding-bottom: 10px;
    border-bottom: 1px groove rgba(255, 255, 255, 0.644);
    width: max-content;
    text-transform: uppercase;
}

.poll-voting-container span {
    transition: all 0.3s ease 0s;
    font-size: 30px;
    margin-top: 0;
}

.vote-btn {
    font-size: 13px;
    float: right;
    padding: 13px 30px;
    margin: 15px 0px;
}

.vote-btn:hover:enabled {
    background-color: #98DAC7;
    box-shadow: 0px 3px 10px #98dac791;
    transform: translateY(-10px);
}

.vote-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.5;
}

.collapse-result {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.collapse-result button {
    padding: 15px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #241c69;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.24);
    outline: none;
    transition: all 0.3s ease 0s;
    margin-bottom: 50px;
}

.collapse-result button:hover:enabled {
    transform: translateX(10px);
    background-color: #F83B4F;
    box-shadow: 2px 2px 10px #f83b4e98;
    color: #fff;
}